div.h2{
    padding: 7px 650px;
}
div.hi3 h2{
    padding: 7px 650px;
}
div.hi4 h2{
    padding: 7px 650px;
}
div.hi5 h3{
     padding: 7px 650px;
}
div.hi6 h2{
     padding: 7px 600px;
}
div.hi7 h5{
    padding:  7px 650px;
}
div.hi8 h5{
    padding:  7px 650px;
}
div.hi9 h2{
     padding: 7px 630px;
    
}
div.hi9 h2 p{
    font-family: italic;
}